@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 248, 248);
}
#image{
    position: relative;
    flex: 1;
    width: auto;
}
#image #textLogo{
    position: absolute;
    top: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;  
    height: 150px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}
#image #textLogo > img {
    object-fit: contain;
    width: 100px;
}
#image #textLogo > h4 { 
    align-self: center; 
    font-size: 80px;
    color: beige;
}
#sign{
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    gap: 50px;
    
}
#sign h2, h3 {
    padding: 5px 50px;
}
#sign h3 {
    position: absolute;
}
#sign form{
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    background-color: rgb(32, 178, 170, 0.8);
}
#sign form input{
    width: 200px;
    height: 25px;
    border-radius: 6px;
    box-shadow: none;
    border: solid #E5E7EB 1px;
}
#sign form input:focus{
    border: solid lightblue 3px;
    box-shadow: 2px 2px 2px 2px gray;
}
input :invalid {
    box-shadow: 2px 2px 2px 2px red;
}
#sign form > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 420px;
    gap: 5px;
    padding: 50px;
}
#sign form button {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(32, 178, 170, 0.8);
    font-size: 20px;
}
#sign form div:last-child{
    background-color: rgb(248, 248, 248);
    padding: 20px 50px;
}